{# empty Twig template #}
{% extends "layout.html.twig"  %}

{% block title %}
	Mi Blog en symfhony3 (Pascual Muñoz)
{% endblock title %}


{#content#}
{% block content %}
	{#logueo#}
	<div class="col-md-6">
		  {% if is_granted('ROLE_ADMIN')    %}
			  <h2>ERES EL ADMIN :)</h2>
		  {% elseif is_granted('ROLE_USER') %}

			  <h3>No eres más que un User :(, pero logueado eso si :)</h3>				
		  {% else %}
			  <div class="alert alert-warning">
			  <h2>IDENTIFICATE POR FAVOR</h2>
			  </div>
		  {% endif %}


		{#		MOSTRAMOS EL MENSAJE DEL FLASHBAG #}
		{% for mensaje  in app.session.flashbag().get('status') %}
			<div class="alert alert-warning">{{mensaje}}</div>
		{% endfor %}


		  <div class="form-group">
				  <form action="{{path("login_check")}}" method="post" >

						  <!--name=_username  es la key para que funcione Symfony-->	
						  <label>Tu Email: </label>
						  <input type="email"  id="username"  name="_username"  value="{{ last_username }}"  class="form-control"/>
						  <br>	

						  <label>Contraseña: </label>
						  <input type="password" id="password" name="_password" value="" class="form-control">
						  <br>	

						  <input type="submit" value="Entrar Al Blog" class="btn btn-success"/>
						  <input type="hidden" name="_target_path" value="/login" />  

				  </form>
		  </div>
						  
						  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
							  <table class="container table" name="users">		  
									  <h2>users</h2><!--Titulo-->
									  <thead>
											  <tr>
													  <th>name</th><!--Duplicame-->
													  <th>email</th><!--Duplicame-->
													  <th>password</th><!--Duplicame-->
											  </tr>
									  </thead>
									  <tbody>
											  {% for un_users  in users %}
												  <tr>
														  <td>  {{ un_users.name  }} </td><!--Duplicame-->
														  <td>  {{ un_users.email  }} </td><!--Duplicame-->
														  <td>  {{ un_users.password  }} </td><!--Duplicame-->
												  </tr>
											  {% else %}
											  <td>No hay userss!!!</td>
									  {% endfor %}
									  </tbody>
							  </table>>

						  {% elseif is_granted('IS_AUTHENTICATED') %}
							  Entra como Administrador para ver los usuarios registrados.
						  {% else %}
							  Entra como usuario!!
						  {% endif %}
						  
							
						 

		<br><br><br>
		



		{#FORMULARIO DE REGISTRO DE USUARIOS#}
		<div name="formularioAlta" class="form-group">
			{{form_start(formulario)}}

			{{form_end(formulario)}}
		</div>

		{#ESTO ES PARA LIMPIEZA #}
		<div class="clear-fix"> </div>
		
		{% if app.user != null %}
			<script>
				function HideFormAlta(bool) {
					this.document.forms.lacueva_blogbundle_users.hidden = bool;
					this.document.body.style.backgroundColor = "orange";
				}
				HideFormAlta(true);
			</script>
		{% endif %}

		 
		
{% endblock content %}

