{# empty Twig template #}
{% extends "layout.html.twig"  %}

{% block title %}
	Mi Blog en symfhony3 (Pascual Muñoz)
{% endblock title %}


{#content#}
{% block content %}
	{#logueo#}
	<div class="col-md-6">
		  {% if is_granted('ROLE_ADMIN')    %}
			  <h2>ERES EL ADMIN :)</h2>
		  {% elseif is_granted('ROLE_USER') %}

			  <h3>No eres más que un User :(, pero logueado eso si :)</h3>				
		  {% else %}
			  <h2>IDENTIFICATE POR FAVOR</h2>
		  {% endif %}


		  <BR>
		  
		  <table class="table-bordered"l>
				  <tr>
					<th> ESTOS SON LOS POSIBLES USUARIOS </th>
				  </tr>
				  
				  <tr>
					{% for user  in users %}
						<td>{{ user.email  }} </td>
					{% else %}
						<td>Entrada no encontrada</td>
					{% endfor %}
				  </tr>
		  </table>>

			<form action="{{path("login_check")}}" method="post" >

			  <!--name=_username  es la key para que funcione Symfony-->	
			  <label>Tu Email: </label>
			  <input type="email"  id="username"  name="_username"  value="{{ last_username }}"  class="form-control"/>
			  <br>	

			  <label>Contraseña: </label>
			  <input type="password" id="password" name="_password" value="" class="form-control">
			  <br>	

			  <input type="submit" value="Entrar Al Blog" class="btn btn-success"/>
			  <input type="hidden" name="_target_path" value="/login" />  

			</form>
		</div>

		<br><br><br>
		

		{#FORMULARIO DE REGISTRO DE USUARIOS#}
		<div name="formularioAlta" class="col-md-6">
			{{form_start(formulario)}}

			{{form_end(formulario)}}
		</div>

		{#ESTO ES PARA LIMPIEZA #}
		<div class="clear-fix"> </div>
		
		{% if app.user != null %}
			<script>
				function HideFormAlta(bool) {
					this.document.forms.lacueva_blogbundle_users.hidden = bool;
					this.document.body.style.backgroundColor = "orange";p
				}
				HideFormAlta(true);
			</script>
		{% endif %}

{#		{{dump(app.user, error, app, estado)}}#}
		{{dump(estado)}}
		

{% endblock content %}

