{# empty Twig template #}
{% extends "layout.html.twig" %}

{% block menu %}
	{{parent()}}
	{{ include ('BlogBundle:Category:menu.categories.html.twig')}}
{% endblock menu%}


{#content#}
{% block content %}		
		<table class="container table" name="categorias">		  
				<h2>Categorias</h2><!--Titulo-->
				<thead>
						<tr>
								<th>Nombre</th><!--Duplicame-->
								<th>Descripción</th><!--Duplicame-->
								<th>Eliminar </th><!--Duplicame-->
								<th>Modificar </th><!--Duplicame-->
								<th>Entradas de esta categoria </th><!--Duplicame-->
								
								
								
						</tr>
				</thead>
				<tbody>
						{% for un_categorias  in categorias %}
							<tr>
									<td>  {{ un_categorias.name  }} </td><!--Duplicame-->
									<td>  {{ un_categorias.description  }} </td><!--Duplicame-->
									<td> <a href="{{ path("blog_delete_category" ,{"id":un_categorias.id}) }}" class="btn btn-danger">Eliminar</a></td><!--Duplicame-->
									<td> <a href="{{ path("blog_edit_category" ,{"id":un_categorias.id}) }}" class="btn btn-warning">Editar</a></td><!--Duplicame-->
									<td>  {{ un_categorias.Entries  }} </td><!--Duplicame-->
	
							</tr>
						{% else %}
						<td>No hay categoriass!!!</td>
				{% endfor %}
		</tbody>
</table>>
<a href="{{ path("blog_add_category") }}" class="btn btn-success">AÑADIR CATEGORIA</a>

<div class='clearfix'></div>
{% endblock content %}
